h1 {
    color: red;
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */

    border: 5px solid purple;
}

li {
    color: green;
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    background: pink;
    /* background: url('https://c.pxhere.com/photos/3c/db/abstract_backdrop_background_floor_granite_marble_surface_texture-1562149.jpg!d');
    background-repeat: no-repeat;
    background-size: cover; */
}